main {
	width: 1000px;
	border: 1px solid black;
	border-radius: 20px;
	margin: 50px auto;
}

table {
	margin: 50px auto;
}

th {
	font-weight: bold;
	border: 1px solid black;
	padding: 5px 30px;
	text-align: center;
	border-radius: 10px;
}

td {
	border: 1px solid black;
	padding: 5px 30px;
	border-radius: 10px;
	text-align: center;
}
